:root {
    --Raleway_sans:'Raleway', sans-serif;;
    --background:#2d3250;
    --font_color:#fff;
    --font_color_2:#f9b17a;
    --color_icons: #676f9d;
    --color_boxes:#424769;
}
*{
    margin: 0;
    padding: 0;

}
ol, ul,li {
    list-style: none;
    padding: 0px;
}
p{
    padding: 0;
}
a{
    text-decoration: none;
}

body{
    font-family: var(--Raleway_sans);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
    background-color: var(--background);
    color: var(--font_color);
}
.header_container{
    background-color:var(--background);
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.header_img{
    width: 3vw;
}
.menu_list{
    display:flex;
}
.item_text{
    color: var(--color_icons);
    font-size: 1.2rem;
    padding: 1rem ;
}
.item_text:hover {
    background-color: #f9b17a;
    border-radius: 2rem;
    color: var(--font_color);
  }
.espacio{
    padding: 2.5rem;
}
.descripcion{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap:3rem;
    padding: 5rem 2rem;
}
.descipcion_container{
    gap: 2rem;
    display: flex;
    flex-direction: column;
}
.descripcion_texto{
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.descripcion_intro{
    font-size: 1.5rem;
    font-weight: 400;
}
.descripcion_nombres{
    font-size: 4rem;
    font-weight: 700;
}
.descipcion_adicional{
    font-size: 1.5rem;
    padding-top: 1rem;
    font-weight: 100;
}
.descripcion_links{
    display: flex;
    align-items: center;
    gap:2rem
}
.link_img{
    width: 3rem;
}
.pfp_img{
    border-radius: 50%;
    width: 20vw;
    min-width: 15rem;
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5rem 2rem;
}
.about_container{
    width: 70VW;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.about_title{
    font-size: 2rem;
}
.about_parrafo{
    font-size: 1.5rem;
    font-weight: 100;
}
.habilidades{
    padding: 5rem 15vw;
    display: flex;
    justify-content: center;

}
.habilidades_container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.habilidades_title{
 text-align: center;
 font-size: 2rem;
 font-weight: 700;
}
.habilidades__line{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}
.habilidades__box{
    background-color:var(--color_boxes);
    width: 15vw;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 2rem;
    min-width:300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.habilidades_box_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.img_H{
    height: 5rem;
    fill: red;
}
.img_desc{
    font-weight: 700;
    font-size: 1.5rem;
}
.hobbies{
    padding: 5rem 15vw;
}
.hobbies_container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.hobbies_line{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hobbies_box{
    display: flex;
    background-color:var(--color_boxes);
    width: 15vw;
    height: 10rem;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    min-width:300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.img_Ho{
    height: 5vw;
    min-height: 5rem;
}
.educacion{
    padding: 5rem 2rem;
}
.educacion_container{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.educacion_title{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
.educacion_line{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content:center;
}
.educacion_box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.box_container{
    background-color: var(--color_boxes);
    width: 20vw;
    height: 12rem;
    min-width:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
}
.educacion_img{
    width: 10vw;
    min-width: 5rem;
}
.box_info{
    display: flex;
    flex-direction: column;
    width: 20vw;
    gap: 0.5rem;

}
.box_title{
    font-size: 1.5rem;
    font-weight: 700;    
}
.box_desc{
    font-size: 1rem;
    font-weight: 100;
}
.proyectos{
    padding: 5rem 15rem;
    display: flex;
    justify-content: center;
}
.proyectos_container{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.proyectos_line{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.proyectos_box{
    display: flex;
    align-items: center;
    background-color: var(--color_boxes);
    border-radius: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    gap: 1.5rem;
}
.proyecto_info{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    gap: 2rem;
}
.proyecto_text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 20vw;
}
.boton_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
}
.desc_proyecto{
    font-size: 1rem;
    font-weight: 100;
}
.boton{
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 1rem;
  }
  .boton_repo{
    border: none;

    background-color: #f9b17a;
    color:var(--color_boxes);
    display: flex;
  }
  .boton_demo{
    background:var(--color_icons);
    color: var(--font_color);
    border: none;
    display: flex;
  }
  .boton:hover {
    box-shadow: 0 0 20px var(--font_color_2);
    color: var(--font_color);
  }
  .proyecto_img{
    width: 50vw;
    min-width:300px;
  }
  .contacto{
    padding: 2rem 2vw;
  } 
  .formcontato__contacto {
    display: flex;
    justify-content: center;
  }
  
  .formcontato__text {
    text-align: center;
  }
  
  .formcontato__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  .formcontato__subtext {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  
  .formcontato__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .formcontato__input,
  .formcontato__textarea {
    width: 50vw;
    height: 4rem;
    min-width: 350px;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--color_icons);
    border-radius: 0.5rem;
    border: none;
  }
  .textarea{
    
    height: 20rem;
  }
  
  .formcontato__botao {
    padding: 2rem 4rem;
    font-size: 2rem;
    font-weight: 700;
    background-color:var(--font_color_2);
    color: var(--color_boxes);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .formcontato__botao:hover {
    box-shadow: 0 0 20px var(--font_color_2);
    color: var(--font_color);
  }
  
  .formcontato__botao:focus {
    outline: none;
  }
  .main_footer{
    padding: 2rem 2rem;
    text-align: center;
  }
  
/*tablet*/
@media screen and (max-width: 768px) { 
/*header*/
.header_container {
}
.menu_list{
    display: none;
}
.header_img{
    min-width: 3rem;
}
/*description*/
.descripcion_links {
    justify-content: space-around;
}
.descripcion_nombres{
    font-size: 3rem;
}
/*about*/

.about{
    justify-content: flex-start;
}
.about_container{
    width: auto;
}
.about_parrafo {
    font-size: 1.3rem;

}
/*habilidades*/
.habilidades{
    padding: 5rem 2rem;
}
.box_container{
    width: 13rem;
    height: 10rem;
}
/*education*/
.educacion{
    padding: 5rem 2rem;
}
.box_info{
    width: 30vw;
}
/*proyectos*/
.proyectos{
    padding: 5rem 2rem;
}
.proyectos_box{
    flex-direction:column;
}
.boton_container{
    flex-direction: row;
    padding-bottom: 1rem;
}
}
/*mobile*/
@media screen and (max-width: 480px) {
/*description*/
.descripcion{
    flex-direction: column-reverse;
}
.descripcion_texto{
    width: auto;
}
/*education*/
.box_info{
    width: 60vw;
}
.proyecto_text{
    width: auto;
}
.formcontato__botao {
    padding: 0.5rem 2rem;
}
}